@page
@model DynamicRoleBasedAuth.Areas.Identity.Pages.User.IndexModel

@{
	ViewData["Title"] = "Roles";
	var i = 1;
}

<h1>@ViewData["Title"]</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UserName</th>
			<th scope="col">Email</th>
			<th scope="col">Role</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.Users!)
		{
			<tr>
				<th scope="row">@(i++)</th>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>@user.Role</td>
				<td>
					<a class="btn btn-sm btn-secondary" asp-page="ChangeRole" asp-route-userId="@user.Id">Change Role</a>
				</td>
			</tr>
		}
	</tbody>
</table>


